In [1]:
import pandas as pd

In [2]:
# 1. Create a result table
data = {
    'Student ID': [],
    'Student Name': [],
    'Subject 1': [],
    'Subject 2': [],
    'Subject 3': [],
    'Subject 4': [],
    'Subject 5': [],
}

In [11]:
# 2. Enter 10 student details with marks
for j in range(10):
    student_id = input("Enter Student ID: ")
    student_name = input("Enter Student Name: ")
    marks = [int(input(f"Enter marks for Subject {i + 1}: ")) for i in range(5)]
    
    data['Student ID'].append(student_id)
    data['Student Name'].append(student_name)
    data['Subject 1'].append(marks[0])
    data['Subject 2'].append(marks[1])
    data['Subject 3'].append(marks[2])
    data['Subject 4'].append(marks[3])
    data['Subject 5'].append(marks[4])

Enter Student ID:  1
Enter Student Name:  om
Enter marks for Subject 1:  50
Enter marks for Subject 2:  80
Enter marks for Subject 3:  70
Enter marks for Subject 4:  60
Enter marks for Subject 5:  65
Enter Student ID:  2
Enter Student Name:  sai
Enter marks for Subject 1:  40
Enter marks for Subject 2:  80
Enter marks for Subject 3:  70
Enter marks for Subject 4:  60
Enter marks for Subject 5:  65
Enter Student ID:  3
Enter Student Name:  ram
Enter marks for Subject 1:  56
Enter marks for Subject 2:  45
Enter marks for Subject 3:  54
Enter marks for Subject 4:  65
Enter marks for Subject 5:  55
Enter Student ID:  4
Enter Student Name:  radha
Enter marks for Subject 1:  40
Enter marks for Subject 2:  76
Enter marks for Subject 3:  65
Enter marks for Subject 4:  67
Enter marks for Subject 5:  76
Enter Student ID:  5
Enter Student Name:  krishna
Enter marks for Subject 1:  54
Enter marks for Subject 2:  45
Enter marks for Subject 3:  76
Enter marks for Subject 4:  67
Enter marks for Subject 5:  65
Enter Student ID:  6
Enter Student Name:  jiya
Enter marks for Subject 1:  76
Enter marks for Subject 2:  80
Enter marks for Subject 3:  70
Enter marks for Subject 4:  60
Enter marks for Subject 5:  57
Enter Student ID:  7
Enter Student Name:  piya
Enter marks for Subject 1:  56
Enter marks for Subject 2:  76
Enter marks for Subject 3:  80
Enter marks for Subject 4:  76
Enter marks for Subject 5:  54
Enter Student ID:  8
Enter Student Name:  siya
Enter marks for Subject 1:  45
Enter marks for Subject 2:  54
Enter marks for Subject 3:  64
Enter marks for Subject 4:  65
Enter marks for Subject 5:  60
Enter Student ID:  9
Enter Student Name:  piyu
Enter marks for Subject 1:  56
Enter marks for Subject 2:  76
Enter marks for Subject 3:  67
Enter marks for Subject 4:  80
Enter marks for Subject 5:  54
Enter Student ID:  10
Enter Student Name:  jeni
Enter marks for Subject 1:  65
Enter marks for Subject 2:  67
Enter marks for Subject 3:  65
Enter marks for Subject 4:  89
Enter marks for Subject 5:  54

In [12]:
# 3. Dump table into CSV file "result.csv"
df = pd.DataFrame(data)
df.to_csv('result.csv', index=False)

In [13]:
# 4. Read result.csv file and print Total Marks and Grade of each student
df = pd.read_csv('result.csv')

def calculate_total_marks(row):
    return sum(row[2:7])

def calculate_grade(total_marks):
    if total_marks >= 400:
        return 'A+'
    elif total_marks >= 350:
        return 'A'
    elif total_marks >= 300:
        return 'B'
    else:
        return 'C'

df['Total Marks'] = df.apply(calculate_total_marks, axis=1)
df['Grade'] = df['Total Marks'].apply(calculate_grade)

df.to_csv('result.csv', index=False)

In [15]:
# 5. List out Top 3 Student ID and name with its percentage
df['Percentage'] = (df['Total Marks'] / 500) * 100
top_3_students = df.nlargest(3, 'Percentage')[['Student ID', 'Student Name', 'Percentage']]

print("\nTop 3 Students:")
print(top_3_students)

Top 3 Students:
    Student ID Student Name  Percentage
9            6         jiya        68.6
10           7         piya        68.4
13          10         jeni        68.0